:root {
  // Sizes
  --text-base-size: 1em;
  --text-scale-ratio: 1.25;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-s: calc(1em / var(--text-scale-ratio));
  --text-m: calc(1em * var(--text-scale-ratio));
  --text-l: calc(var(--text-m) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-l) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  --text-lightest: 100;
  --text-lighter: 200;
  --text-light: 300;
  --text-normal: 400;
  --text-semibold: 500;
  --text-bold: 700;
  --text-ultrabold: 900;

  // Spacing
  --space-unit: 1em;

  --space-xxxxs: calc(0.13 * var(--space-unit));
  --space-xxxs: calc(0.2 * var(--space-unit));
  --space-xxs: calc(0.3 * var(--space-unit));
  --space-xs: calc(0.44 * var(--space-unit));
  --space-s: calc(0.67 * var(--space-unit));
  --space-m: calc(1 * var(--space-unit));
  --space-l: calc(1.5 * var(--space-unit));
  --space-xl: calc(2.25 * var(--space-unit));
  --space-xxl: calc(3.38 * var(--space-unit));
  --space-xxxl: calc(5.07 * var(--space-unit));
  --space-xxxxl: calc(7.59 * var(--space-unit));
}
