@use '@/scss/globals';

.labeled {
  label {
    font-size: inherit;
    display: block;
    width: 100%;

    padding-left: var(--space-xxxxs);
    margin-bottom: var(--space-xxxs);
  }
}

%input-decoration {
  background-color: var(--color-input);
  color: var(--color-text);
  border: 1px solid var(--color-input-border);
  border-radius: var(--radius-element);
}

%input-decoration--hover {
  background-color: var(--color-input-hover);
}

%input-decoration--disabled {
  outline: none;
  background-color: var(--color-input-disabled);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-input-border);
  box-shadow: none;

  &:focus {
    background-color: var(--color-input-disabled);
    border: 1px solid var(--color-input-border);
    box-shadow: none;
  }

  &:hover {
    background-color: var(--color-input-disabled);
    box-shadow: none;
  }
}

%input-decoration--focus {
  outline: none;
  background-color: var(--color-input);
  color: var(--color-text);
  border: 1px solid var(--color-input-border-focus);
  box-shadow: 0 0 3px var(--color-input-shadow-focus);
  border-radius: var(--radius-element);

  &:hover {
    background-color: var(--color-input);
  }
}

%input-decoration--error {
  background-color: var(--color-input);
  color: var(--color-text);
  border: 1px solid var(--color-input-border-error);
  box-shadow: 0 0 4px var(--color-input-shadow-error);
  border-radius: var(--radius-element);
}
